<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shamanic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shamanic.Properties.Settings>
            <setting name="OverloadTotalCounterDisplay" serializeAs="String">
                <value>Card</value>
            </setting>
            <setting name="TotemsPlayedCounterDisplay" serializeAs="String">
                <value>Card</value>
            </setting>
            <setting name="OpponentCountersDisplay" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="PlayerLeft" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="PlayerTop" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="OpponentLeft" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="OpponentTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinLeft" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxTop" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="OverloadPlayedCounterDisplay" serializeAs="String">
                <value>Card</value>
            </setting>
        </Shamanic.Properties.Settings>
    </userSettings>
</configuration>